
<div class="container-fluid">
  <div class="row-fluid">
    <div class="page-header">
      <h2>Edit Position</h2>
    </div>

    <%= render 'edit_form' %>
  </div>
</div>

<%#= link_to 'Show', @post %> |
<%#= link_to 'Back', posts_path %>
