<div class="container-fluid">
    <div class="row-fluid">
    <div class="span10">
        <div class="page-header">
        <h2>Login Logs</h2>
        </div>
        <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li class="active">Login Logs</li>
        </ul>
        <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">?</button>
        <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </div>
        <form class="form-search">
        <input type="text" class="input-large search-query">
        <button type="submit" class="btn btn-primary">Search</button>
        <div class="pull-right">
        <button type="submit" class="btn btn-inverse">Delete</button>
        </div>
        </form>
    
        <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>Name</th>
            <th>Email</th>
            <th>Login Time</th>
            <th>Logout Time</th>
            <th>IP</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td><a href="/edit-administrator.html">Himanshu Mistry</a></td>
            <td>daniel@php2india.com</td>
            <td>12th Sept 2012 12:00 PM</td>
            <td>12th Sept 2012 12:00 PM</td>
            <td>192.189.1.112</td>
           
        </tr>
        <tr>
           <td><input type="checkbox"></td>
            <td><a href="/edit-administrator.html">Himanshu Mistry</a></td>
            <td>daniel@php2india.com</td>
            <td>12th Sept 2012 12:00 PM</td>
            <td>12th Sept 2012 12:00 PM</td>
            <td>192.189.1.112</td>
           
        </tr>
        </tbody>
        </table>
    </div>
    </div>
</div><!--/.fluid-container-->
