    <div class="container-fluid">
	    <div class="row-fluid">
		<div class="span10">
		    <div class="page-header">
			<h2>Dashboard</h2>
		    </div>
		    <ul class="breadcrumb">
			<li><a href="#">Home</a> <span class="divider">/</span></li>
			<li class="active">Dashboard</li>
		    </ul>
		  
		    <form class="form-search">
			<input type="text" class="input-large search-query">
			<button type="submit" class="btn btn-primary">Search</button>
		    </form>

		    <table class="table table-bordered table-striped">
		    <thead>
			<tr>
			    <th style="text-align: center;">Module Name</th>
			    <th style="text-align: center;">Total no. of Records</th>
			    <!--th>Markup</th-->
			</tr>
		    </thead>
		    <tbody>
			<tr>
			    <td style="text-align: center;">Administrator</td>
			    <td style="text-align: center;"><%=Admin.count%></td>
			</tr>
			<tr>
			    <td style="text-align: center;">Loginlog</td>
			    <td style="text-align: center;"><%=Loginlog.count%></td>
			</tr>
			<tr>
			    <td style="text-align: center;">Customer</td>
			    <td style="text-align: center;"><%=Customer.count%></td>
			</tr>
			<tr>
			    <td style="text-align: center;">Meter Reading</td>
			    <td style="text-align: center;"><%=MeterReading.count%></td>
			</tr>
		    </tbody>
		    </table>
		</div>
	    </div>
    </div><!--/.fluid-container-->
