
<div class="container-fluid">
  <div class="row-fluid">
    <div class="page-header">
      <h2>New City</h2>
    </div>

    <%= render 'form' %>
  </div>
</div>


<%#= link_to 'Back', posts_path %>
